body {
    padding-top: 56px;
    background-color: rgb(221, 221, 221);
    background-image: url("https://cdn.pixabay.com/photo/2019/04/22/03/38/marble-4145542__340.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    background: url("https://cdn.hipwallpaper.com/i/61/85/PXt2QA.jpg");
    background-size: cover;
}

.state-header {
    font-family: 'Libre Baskerville'; 
    font-size: 40px; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.data-header {
    font-family: 'Libre Baskerville'; 
    font-size: 40px; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-row-items:not(.slick-slider) {
    display: flex;
    box-sizing: inherit;}

*{
    box-sizing:border-box;
}

.clm{
    float:left;
    width:50%;
    padding:3px;
    margin-bottom: 25px;
}

.clm img{
    height:400px;
}

.clm img:hover {
    transition: all 0.5s ease;
    -webkit-filter: blur(10px);
    border: 5px;
}

.navbar {
    position: fixed;
    width: 100%;
}

#img1 .btn {
    position: relative;
    top: -45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
#img1 .btn:hover {
    background-color: black;
}
  

#info {
    display: table; 
    margin: 2px auto 2px auto;
    padding:5px;
    font-size:20px;
    background-color:#dfdfdfd3;
    color:#000000;
}

#worldbank {
    position: center;
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 35%;
}

.flip-box {
  background-color: transparent;
  width: 325px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

#graphs {
    background: #cccbcb;
    padding: 50px;
    text-align: center;
}

#predict {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    width: 10%;
}

#answer {
    display: table; 
    margin: 2px auto 2px auto;
    padding:5px;
    font-size:20px;
    background-color:#fffefeda;
    color:#000000;
}