<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet'>

</head>

<body>
    <!-- Building the navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <!-- Visualisations Tab -->
                    <li class="nav-item">
                        <a class="nav-link" href="/visualisations">Visualisations</a>
                    </li>
                    <!-- About Us -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron -->
    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h1 class="display-3" id="title" style="font-family: 'Libre Baskerville'; color: rgb(255, 255, 255); ">About
                Us</h1>
        </div>
    </header>

    <!-- Info about developers-->
    <div class="container-fluid" style="font-family: sans-serif;">
        <div class="content">
            <div id="info"><strong>
                    Hover over each person to find out a little bit about the team members!</strong>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4 col-md-4 col-md-4">
                <div class="flip-box" id="flip1">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">        
                            <img class="img img-responsive" src="../static/images/ash.png" alt="Ash"
                                style="width:325px;height:350px">
                        </div>
                        <div class="flip-box-back" style="background-color:orange">
                            <h1><strong><u>Ash</u></strong></h1>
                            <br>
                            <h5>
                                <ul>
                                    <li>Looking to make my<br> footprint as a Data Anaylst</li>
                                    <br>
                                    <li>My life can be summed up by Basketball, Gaming and Will Ferrell films</li>
                                    <br>
                                    <li>Seen every episode of the <br>Office at least 3 times</li>
                                </ul>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-4 col-md-4">
                <div class="flip-box" id="flip2">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img img-responsive" src="../static/images/alex.png" alt="Alex"
                                style="width:325px;height:350px">
                        </div>
                        <div class="flip-box-back" style="background-color: red">
                            <h1><strong><u>Alex</u></strong></h1>
                            <br>
                            <h4>
                                <ul>
                                    <li>Originally from Perth</li>
                                    <br>
                                    <li>Working and living in Sydney</li>
                                    <br>
                                    <li>Love working in data</li>
                                </ul>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="flip-box" id="flip3">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img img-responsive" src="../static/images/Susov.png" alt="Susov"
                                style="width:325px;height:350px">
                        </div>
                        <div class="flip-box-back" style="background-color: blue">
                            <h1><strong><u>Susov</u></strong></h1>
                            <br>
                            <h4>
                                <ul>
                                    <li>Scientist/Analyst</li>
                                    <br>
                                    <li>Avid sports fan for<br> whats on</li>
                                    <br>
                                    <li>Love cooking (any <br>food, really!)</li>
                                </ul>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-md-4 col-md-4">
                <div class="flip-box" id="flip1">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img img-responsive" src="../static/images/Rishit.png" alt="Rishit"
                                style="width:325px;height:350px">
                        </div>
                        <div class="flip-box-back" style="background-color:green">
                            <h1><strong><u>Rishit</u></strong></h1>
                            <br>
                            <h4>
                                <ul>
                                    <li>Currently a full-time Team leader</li>
                                    <br>
                                    <li>Part-time Analyst on the side</li>
                                    <br>
                                    <li>Foodie</li>
                                </ul>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-4">
                <div class="flip-box" id="flip2">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img img-responsive" src="../static/images/vineet.png" alt="Vineet"
                                style="width:325px;height:350px">
                        </div>
                        <div class="flip-box-back" style="background-color: purple;">
                            <h1><strong><u>Vineet</u></strong></h1>
                            <br>
                            <h4>
                                <ul>
                                    <li>Radio frequency<br> engineer</li>
                                    <br>
                                    <li>Currently working at Telstra</li>
                                    <br>
                                    <li>Roadie!</li>
                                </ul>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer section consisting of contributors -->
    <footer class="py-3 bg-light" style="margin-top: 60px;">
        <div class="container">
            <p class="text-center"><strong>
                    Developers: <a href="https://github.com/ashdrayton" target="_blank">Ash Drayton</a> |
                    <a href="https://github.com/alexlawson274" target="_blank">Alex Lawson</a> |
                    <a href="https://github.com/susovd" target="_blank">Susov Dhakal</a> |
                    <a href="https://github.com/Rishi0406" target="_blank">Rishit Sheth</a> |
                    <a href="https://github.com/vineetgoyal01" target="_blank">Vineet Goyal</a>
                </strong>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>